<nav class="menu">
  <div class="menu-container">
    <div class="logo-brand">
      <span class="logo-icon" aria-hidden="true">
        <svg viewBox="0 0 24 24" aria-hidden="true"><path d="M5 18h14v2H5zm2-10h2V7h6v1h2V6.5A1.5 1.5 0 0 0 15.5 5h-7A1.5 1.5 0 0 0 7 6.5V8zm1 2h8v7H8v-7zm2 1v5h4v-5h-4zm-5 7h14v2H5v-2z"/></svg>
      </span>
      <span class="brand-name">MaquiConstruccion</span>
    </div>
    <ul class="menu-links">
      <li>
        <a href="https://www.google.com" target="_blank">Google</a>
      </li>
      <li>
        <a href="https://www.facebook.com" target="_blank">Facebook</a>
      </li>
      <li>
        <a href="https://www.youtube.com" target="_blank">YouTube</a>
      </li>
    </ul>
  </div>
</nav>
