<nav class="menu">
  <div class="menu-container">
    <div class="logo-brand">
      <span class="logo-icon">🏗️</span>
      <span class="brand-name">MaquiConstruccion</span>
    </div>
    <ul class="menu-links">
      <li>
        <a href="https://www.google.com" target="_blank">Google</a>
      </li>
      <li>
        <a href="https://www.facebook.com" target="_blank">Facebook</a>
      </li>
      <li>
        <a href="https://www.youtube.com" target="_blank">YouTube</a>
      </li>
    </ul>
  </div>
</nav>
